<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <div class="rounded border mt-3 mb-3">
        <div class="user">
          <div class="avatar">C</div>
          <div class="user-info">
            <div class="user-name">Phạm Công Chánh</div>
            <div class="online">Vừa mới truy cập</div>
          </div>
          <div class="actions">
            <i class="fas fa-phone-alt"></i>
            <i class="fas fa-video"></i>
            <i class="fas fa-search"></i>
          </div>
        </div>
        <div class="conversation">
            <div class="message my-message">Ra quân chiến dịch Xuân tình nguyện năm 2021
              <span class="time">08:59</span>
            </div>
            <div class="message my-message">Sáng ngày 28/01/2021, Hội sinh viên Trường Đại học Tôn Đức Thắng (TDTU) đã tổ chức lễ ra quân chiến dịch Xuân tình nguyện TDTU năm 2021.
              <span class="time">08:59</span>
            </div>
            <div class="img-message my-message">
              <img src="https://tdtu.edu.vn/sites/www/files/articles/2021/Jan/Xuan-tinh-nguyen/xuan_tinh_nguyen_2.jpg">
            </div>
            <div class="message their-message">OK! Rất rốt
              <span class="time">08:59</span>
            </div>
            <div class="message their-message">Mình cũng sẽ đăng ký tham gia
              <span class="time">08:59</span>
            </div>
            <div class="message their-message">Theo kế hoạch, chiến dịch diễn ra từ ngày 28/01 đến ngày 06/02/2021, huy động khoảng 1.250 chiến sĩ với 2 mặt trận cấp trường và cấp cơ sở.
              <span class="time">08:59</span>
            </div>
            <div class="message my-message">Đây là hoạt động truyền thống của Hội sinh viên TDTU trong suốt 13 năm qua.
              <span class="time">08:59</span>
            </div>
            <div class="message my-message">Chúc mọi người năm mới vui vẻ
              <span class="time">08:59</span>
            </div>
            <div class="message their-message">Cám ơn mọi người
              <span class="time">08:59</span>
            </div>
            <div class="message their-message">Mình cũng chúc mọi người năm mới phát tài
              <span class="time">08:59</span>
            </div>
            <div class="img-message their-message">
              <img src="https://media.truyenhinhdulich.vn/upload/news/2300_binh_phuoc_khai_mac_duong_hoa_xuan_tet_ky_hoi.jpg">
            </div>
        </div>
        <div class="message-input">
          <div class="typing">Phạm Công Chánh đang soạn tin...</div>
          <input type="text" placeholder="Nhập tin nhắn">
          <a href="#">Gửi</a>
        </div>
      </div>
    
    </div>
  </div>
</div>
